asgiref==3.8.1
crispy-bootstrap5==2025.4
diff-match-patch==20241021
Django==5.2
django-crispy-forms==2.4
django-filter==25.1
django-import-export==4.3.7
django-nested-admin==4.1.1
djangorestframework==3.16.0
gunicorn==23.0.0
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
python-decouple==3.8
python-monkey-business==1.1.0
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.2
whitenoise==6.9.0
