{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal fade" id="{{ modal_id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ modal_aria_labelledby }}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ form_action }}" method="post" enctype="multipart/form-data" class="needs-validation" id="{{ form_id }}" novalidate>
                {% csrf_token %}

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="{{ modal_aria_labelledby }}Label">{{ modal_title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ modal_body|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>