{% load static %}

<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body fixed-top" data-bs-theme="dark" id="mainNavbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mb-0 h1 d-flex align-items-center gap-2" href="#">
            <img src="https://placehold.co/100" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            EsporteMuz
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'esportemuz:index' %}active{% endif %}" href="{% url 'esportemuz:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'esportemuz:equipe' %}active{% endif %}" href="{% url 'esportemuz:equipe' %}">Equipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == 'esportemuz:campeonato' %}active{% endif %}" href="{% url 'esportemuz:campeonato' %}">Campeonatos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>