{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeDoa</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_d.css' %}">
</head>

<nav class="navbar px-2 py-3 d-flex justify-content-between align-items-center">
  <a class="navbar-brand d-flex align-items-center text-decoration-none text-dark mb-0" href="#">
    <img src="{% static 'img/logo-maismuz.png' %}" alt="Logo" style="max-height: 40px;">
  </a>
  <div class="d-flex align-items-center gap-3">
    <a class="nav-link text-dark px-2" href="#">Login</a>
    <a class="nav-link text-dark px-2" href="#">Cadastro</a>
  </div>
</nav>

<!-- Navbar 2: Grupos Temáticos (NÃO ALTERAR)-->
<nav class="navbar navbar-expand-lg px-3 py-2" style="background-color: #0000001c; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
  <div class="container">
    <div class="d-flex d-lg-none w-100 justify-content-end align-items-center gap-2">
      <span class="fw-light">Explorar Seções</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGrupos" aria-controls="navbarGrupos" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="navbarGrupos">
      <ul class="navbar-nav d-flex gap-4">
        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle" href="#">Cidadania e Sociedade</a>
          <div class="dropdown-menu mt-0 shadow border-0">
            <div class="d-flex flex-column px-3 py-2">
              <a class="dropdown-item" href="/admin/reclamemuz/">Reclame</a>
              <a class="dropdown-item" href="/admin/doamuz/">Doações</a>
              <a class="dropdown-item" href="/admin/adotamuz/">Adoção de Animais</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle" href="#">Trabalho e Economia</a>
          <div class="dropdown-menu mt-0 shadow border-0">
            <div class="d-flex flex-column px-3 py-2">
              <a class="dropdown-item" href="/admin/contratamuz/">Empregos e Estágios</a>
              <a class="dropdown-item" href="/admin/escambuz/">Classificados</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle" href="#">Cultura, Esporte e Lazer</a>
          <div class="dropdown-menu mt-0 shadow border-0">
            <div class="d-flex flex-column px-3 py-2">
              <a class="dropdown-item" href="/admin/eventuz/">Eventos</a>
              <a class="dropdown-item" href="/admin/esportemuz/">Campeonatos</a>
              <a class="dropdown-item" href="/admin/muzeu/">Patrimônio Cultural</a>
              <a class="dropdown-item" href="/admin/turismuz/">Turismo</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle" href="#">Mobilidade e Saúde</a>
          <div class="dropdown-menu mt-0 shadow border-0">
            <div class="d-flex flex-column px-3 py-2">
              <a class="dropdown-item" href="/admin/movemuz/">Transporte Compartilhado</a>
              <a class="dropdown-item" href="/admin/muzsaude/">Transporte para Saúde</a>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Navbar 3: Navegação pelo projeto interna (ALTERAR) -->
<nav class="container mt-3 py-2 px-3 shadow-sm rounded-pill d-flex align-items-center justify-content-between flex-wrap" style="background-color: #ffffff; border: 1px solid #ddd;">
  <!-- Logo: TROQUE PELA A DO SEU PROJETO. TODAS JÁ FEITAS EM CORE/STATIC/IMG/logo-(...).png -->
  <div class="d-flex align-items-center me-3">
    <img src="{% static 'img/logo-doamuz.png' %}" alt="Logo" style="height: 40px;">
  </div>
  <ul class="nav d-none d-lg-flex align-items-center gap-3 mb-0">
    <li class="nav-item">
      <a class="nav-link link-pessoal text-dark px-3 rounded" href="{% url 'homedoa' %}">Início</a>
    </li>

    <span style="color: #ccc;">|</span>
    <li class="nav-item">
      <a class="nav-link link-pessoal text-dark px-3 rounded" href="{% url 'doacao' %}">Solicitar Doação</a>
    </li>

    <span style="color: #ccc;">|</span>
    <li class="nav-item">
      <a class="nav-link link-pessoal text-dark px-3 rounded" href="{% url 'doador' %}">Fazer doação</a>
    </li>

        <span style="color: #ccc;">|</span>
    <li class="nav-item">
      <a class="nav-link link-pessoal text-dark px-3 rounded" href="{% url 'instrucoes' %}">Instruções</a>
    </li>

        <span style="color: #ccc;">|</span>
    <li class="nav-item">
      <a class="nav-link link-pessoal text-dark px-3 rounded" href="{% url 'ongs' %}">ONGs</a>
    </li>

  </ul>

<div class="dropdown d-lg-none">
  <button class="btn btn-sm btn-menu-sem-borda d-flex align-items-center gap-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Abrir menu">
    Menu
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592c.859 0 1.319 1.013.753 1.658l-4.796 5.482a1 1 0 01-1.506 0z"/>
    </svg>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" href="#">Item 1</a></li>
    <li><a class="dropdown-item" href="#">Item 2</a></li>
    <li><a class="dropdown-item" href="#">Item 3</a></li>
  </ul>
</div>
</nav>

<body>

  <div class="container py-5">
    <!-- TÍTULO PRINCIPAL -->
    <h1 class="display-4 text-center mb-4 titulo">DoaMuz</h1>

    <!-- SUBTÍTULO -->
    <h2 class="h3 text-center mb-5 subtitulo">Uma iniciativa para ajudar a conectar doadores, pessoas em situação de vulnerabilidade e organizações</h2>

    <!-- PARÁGRAFO -->
    <p class="lead text-justify">
      Bem-vindo à nossa plataforma! Aqui, acreditamos no poder da conexão para transformar vidas. Unimos doadores, pessoas em situação de vulnerabilidade e organizações não governamentais (ONGs) com um único propósito: promover acolhimento, dignidade e oportunidades para quem mais precisa.
    </p>

    <p class="lead text-justify">Se você quer doar, receber ajuda ou fortalecer sua ONG, este é o lugar certo. Facilitamos o encontro entre quem quer ajudar e quem precisa ser ajudado, criando uma rede segura, transparente e eficiente.</p>
    <p class="lead text-justify">Juntos, podemos fazer a diferença.</p>
    <p class="lead text-justify">Participe dessa corrente de solidariedade!</p>
    <h2 class="h4 text-muted text-left mb-4">Doe. Apoie. Transforme.</h2>
    <!-- IMAGEM CENTRALIZADA. Altere style="width: ...%;" para mudar seu tamanho se necessário-->
    <div class="text-center my-5">
      <img src="{% static 'imgs/doacoesBanner.png' %}" class="img-fluid rounded shadow" alt="Imagem grande ilustrativa">
    </div>

    <!-- Bootstrap JS Bundle CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>